In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sea
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score

In [ ]:
df=pd.read_csv("/content/dataset.csv")

In [ ]:
print(df.head())

    age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0  75.0        0                       582         0                 20
1  55.0        0                      7861         0                 38
2  65.0        0                       146         0                 20
3  50.0        1                       111         0                 20
4  65.0        1                       160         1                 20

   high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                    1  265000.00               1.9           130    1
1                    0  263358.03               1.1           136    1
2                    0  162000.00               1.3           129    1
3                    0  210000.00               1.9           137    1
4                    0  327000.00               2.7           116    0

   smoking  time  DEATH_EVENT
0        0     4            1
1        0     6            1
2        1     7            1
3        0     7            1
4        0     8            1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454 entries, 0 to 453
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       454 non-null    float64
 1   anaemia                   454 non-null    int64
 2   creatinine_phosphokinase  454 non-null    int64
 3   diabetes                  454 non-null    int64
 4   ejection_fraction         454 non-null    int64
 5   high_blood_pressure       454 non-null    int64
 6   platelets                 454 non-null    float64
 7   serum_creatinine          454 non-null    float64
 8   serum_sodium              454 non-null    int64
 9   sex                       454 non-null    int64
 10  smoking                   454 non-null    int64
 11  time                      454 non-null    int64
 12  DEATH_EVENT               454 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 46.2 KB

In [ ]:
df.shape

(454, 13)

In [ ]:
df.describe

<bound method NDFrame.describe of       age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0    75.0        0                       582         0                 20
1    55.0        0                      7861         0                 38
2    65.0        0                       146         0                 20
3    50.0        1                       111         0                 20
4    65.0        1                       160         1                 20
..    ...      ...                       ...       ...                ...
449  75.0        0                       675         1                 60
450  58.0        1                        57         0                 25
451  55.0        1                      2794         0                 35
452  65.0        0                        56         0                 25
453  72.0        0                       211         0                 25

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                      1  265000.00               1.9           130    1
1                      0  263358.03               1.1           136    1
2                      0  162000.00               1.3           129    1
3                      0  210000.00               1.9           137    1
4                      0  327000.00               2.7           116    0
..                   ...        ...               ...           ...  ...
449                    0  265000.00               1.4           125    0
450                    0  189000.00               1.3           132    1
451                    1  141000.00               1.0           140    1
452                    0  237000.00               5.0           130    0
453                    0  274000.00               1.2           134    0

     smoking  time  DEATH_EVENT
0          0     4            1
1          0     6            1
2          1     7            1
3          0     7            1
4          0     8            1
..       ...   ...          ...
449        0   205            0
450        1   205            0
451        0   206            0
452        0   207            0
453        0   207            0

[454 rows x 13 columns]>

In [ ]:
df.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [ ]:
# building model
x=df.drop(["DEATH_EVENT"],axis=1)
y=df["DEATH_EVENT"]

In [ ]:
#_____Split 1 train and test_____
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=171)

In [ ]:
#_____Applying Logistic Regression_____
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(C=0.4,max_iter=1000,solver='liblinear')
lr.fit(x_train,y_train)
#prediction
y_pred=lr.predict(x_test)
#accuracy
accuracy_lr1=accuracy_score(y_test,y_pred)
confusion_matrix_lr1=confusion_matrix(y_test,y_pred)
print("Logistic Regression Split 1: ",accuracy_lr1)
print("Logistic Regression Split 1: ",confusion_matrix_lr1)

Logistic Regression Split 1:  0.8248175182481752
Logistic Regression Split 1:  [[86  6]
 [18 27]]

In [ ]:
#_____Split 2 train and test_____
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=171)

In [ ]:
#_____Applying Logistic Regression_____
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(C=0.4,max_iter=1000,solver='liblinear')
lr.fit(x_train,y_train)
#prediction
y_pred=lr.predict(x_test)
#accuracy
accuracy_lr2=accuracy_score(y_test,y_pred)
confusion_matrix_lr2=confusion_matrix(y_test,y_pred)
print("Logistic Regression Split 2: ",accuracy_lr2)
print("Logistic Regression Split 2: ",confusion_matrix_lr2)

Logistic Regression Split 2:  0.8070175438596491
Logistic Regression Split 2:  [[71  5]
 [17 21]]

In [ ]:
#_____Split 3 train and test_____
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=171)

In [ ]:
#_____Applying Logistic Regression_____
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(C=0.4,max_iter=1000,solver='liblinear')
lr.fit(x_train,y_train)
#prediction
y_pred=lr.predict(x_test)
#accuracy
accuracy_lr3=accuracy_score(y_test,y_pred)
confusion_matrix_lr3=confusion_matrix(y_test,y_pred)
print("Logistic Regression Split 3: ",accuracy_lr3)
print("Logistic Regression Split 3: ",confusion_matrix_lr3)

Logistic Regression Split 3:  0.8241758241758241
Logistic Regression Split 3:  [[60  4]
 [12 15]]

In [ ]:
l1=['S1','S2','S3']
l2=[accuracy_lr1,accuracy_lr2,accuracy_lr3]
l3=[confusion_matrix_lr1,confusion_matrix_lr2,confusion_matrix_lr3]

accuracy_barPlot=pd.DataFrame({"Method Used":l1,"Accuracy Score":l2,"Confusion Matrix":l3})
print(accuracy_barPlot)

  Method Used  Accuracy Score     Confusion Matrix
0          S1        0.824818  [[86, 6], [18, 27]]
1          S2        0.807018  [[71, 5], [17, 21]]
2          S3        0.824176  [[60, 4], [12, 15]]